		body {
		margin: 0;
		padding: 0;
		font-familiy: Quicksand;
		
		
	}	
	
	section.main-section {
		width: 100%;
		height: 100vh;
		background: url("giau.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		position:fixed;
	
	}
	
	nav {
		margin-right: 25%;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		heigth: 80px;
		padding: 10px 100px;
		box-sizing: border-box;
		transition: .3s;
	}
	
	.logo img {
		margin:0;
		padding: 20px 50px;
		width: 100px;
		height: 100px;
		float: left;	
		position:fixed;
		text-size: 15px;
	}
	
	nav ul li{
		list-style: none;
	}
	
	nav > ul > li{
		list-style: none;
		float: right;
		margin: 0;
		padding:0;	
	}
	
	nav ul::after {
		content: '';
		display: block;
	}
	
	nav ul li a {
		display: inline-block;
		margin-top: 20px;
		color: #000000;
		padding: 0px 20px; 
		text-decoration: none;
		text-transform: uppercase;
		transition: .3s;
		font-size: 15px;
		border-radius: 8px;
		cursor: pointer;
	}
	
	nav ul li ul li {
		text-align: center;
	}
	
	nav ul li ul li a {
		padding: 0;
		margin-top: 25px;
	}
	
	nav ul li a:hover {
		color: #ffffff;
	}

	nav ul li a.focus{
		outline: none;	
	}
	
	.profile {
		width:30px;
		height: 30px;
		padding:0;
		margin-top: -10px;
		margin-left: 10px;
		position:fixed;
	}
	
	/** segundo nivel **/
	
	nav ul ul{
		position: absolute;
		/**top: 100%;**/
		display: none;
		padding:0;
		margin:0;
		box-sizing: border-box;
	}
	
	nav ul li:hover >	 ul {
		display: block;
		background: #ffffff;
	}
	
	/** Main content **/
	
	.main-container {
		
		overflow:auto;
		widht: 100%;
		height: 60%;
		margin-top: 19%;
		margin-bottom: 0;
		margin-left: 0;
		padding: 0;
		clear: left;
	}
	
	::-webkit-scrollbar {
		width: 0px;
	}
	
	.search-bar {
		margin-top: 150px;
		width: 100%;
		height: 100px;
		opacity: 0.7;
		margin-bottom: 2%;
		padding: 0;
		float: left;
		position: fixed;
	}
	
	.search {
		margin-left: 5%;
		margin-top: 35px;
		position: fixed;
		left-margin: 15px;
		font-size: 20px;
		height: 30px;
	}
	
	.search input[type="text"]{
		border-radius: 5px;
	}
	
	.search-button {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	
	.search-button + label {
		font-size: 15px;
    		font-weight: 200;
   		color: white;
    		background-color: #d22d2d;
    		display: inline-block;
    		cursor: pointer;
    		padding: 5px 15px;
    		border-radius: 5px;
	}
	
	.search-button + label:hover {
		background-color: #931f1f;
		border: 1px solid #000000;
	}
	
	.add-user{	
		float: right;
		margin-right: 30%;
		margin-top: 30px;
	}
	
	.add-user-bttn {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
	}
	
	.add-user-bttn + label {
		font-size: 1.25em;
    		font-weight: 200;
   		color: white;
    		background-color: #d22d2d;
    		display: inline-block;
    		cursor: pointer;
    		padding: 7px 30px;
    		border-radius: 6px;
	}
	
	.add-user-bttn + label:hover {
		background-color: #931f1f;
		border: 1px solid #000000;
	}
	
	.add-user-bttn + label:focus {
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;
	}
	
	.user-container {
		width: 90%;
		height: 75%;
		background: #282d2c;
		opacity: 0.8;
		margin-top: 3.5%;
		margin-bottom: 4%;
		margin-left: 5%;;
		margin-right: 5%;
		padding: 0;
		float:right;
		border-radius: 10px;
		cursor: pointer;
		
	}
	
	.user-container:hover {
		box-shadow: 0px 0px 30px 16px rgba(251,224,224, 0.3);
	}
	
	.profile-img {
		width: 100px;
		height: 100px;
		margin-top: -50px;
		margin-bottom: 0;
		margin-left: 46%;
		margin-right: 46%;
		padding: 0;
		border-radius: 50%;
	}
	
	.delete-user {
		float: right;
		clear: both;
		margin-right: 2.5%;
		margin-top: -3%;
		font-size: 30px;
		text-decoration: none;
		color: #ffffff;
	}
	
	.delete-user:hover {
		color: #e50742;
	}
	
	table {
		margin-top: 1%;
		margin-bottom: 0;
		margin-left: 5%;
		margin-right: 5%;
		padding: 0;
		width: 90%;
		height: 100px;
	}
	
	tr{
		height: 30px;
	}
	
	th {
		border-bottom: 1px solid #ffffff;
		font-weigth: bold;
		font-size: 25px;
		padding: 0 0 5px 0 ;
	}

	tr {
		margin: 0;
		text-align: center;
		background: transparent;
		border: none;
		color: #ffffff;
	}
	
	.td-normal{
		padding: 5px 0;
	}
	
	.td-description{
		border: 1px solid #ffffff;
		border-radius: 10px;
	}
	
	.td-button {
		text-align: right;
		padding: 25px 0;
	}
	
	.button {
		padding:0;
		color: #ffffff;
		text-decoration: none;
		border: none;
		padding: 8px;
		border-radius: 7px;
		background: #0092d5;
		font-weight: bold;
	}
	
	.button:hover {
		background: #ffffff;
		color: #282d2c;
		
	}
	
	
	
	
	
	
	
	